/* Coolors Exported Palette - https://coolors.co/2e294e-c3acce-fbf9ff-a6d8d4-586f6b */

/* CSS HEX */
--space-cadet: #2e294eff;
--lilac: #c3acceff;
--ghost-white: #fbf9ffff;
--powder-blue: #a6d8d4ff;
--deep-space-sparkle: #586f6bff;

/* CSS HSL */
--space-cadet: hsla(248, 31%, 23%, 1);
--lilac: hsla(281, 26%, 74%, 1);
--ghost-white: hsla(260, 100%, 99%, 1);
--powder-blue: hsla(175, 39%, 75%, 1);
--deep-space-sparkle: hsla(170, 12%, 39%, 1);

/* SCSS HEX */
$space-cadet: #2e294eff;
$lilac: #c3acceff;
$ghost-white: #fbf9ffff;
$powder-blue: #a6d8d4ff;
$deep-space-sparkle: #586f6bff;

/* SCSS HSL */
$space-cadet: hsla(248, 31%, 23%, 1);
$lilac: hsla(281, 26%, 74%, 1);
$ghost-white: hsla(260, 100%, 99%, 1);
$powder-blue: hsla(175, 39%, 75%, 1);
$deep-space-sparkle: hsla(170, 12%, 39%, 1);

/* SCSS RGB */
$space-cadet: rgba(46, 41, 78, 1);
$lilac: rgba(195, 172, 206, 1);
$ghost-white: rgba(251, 249, 255, 1);
$powder-blue: rgba(166, 216, 212, 1);
$deep-space-sparkle: rgba(88, 111, 107, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-right: linear-gradient(90deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-bottom: linear-gradient(180deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-left: linear-gradient(270deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-top-right: linear-gradient(45deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-bottom-right: linear-gradient(135deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-top-left: linear-gradient(225deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-bottom-left: linear-gradient(315deg, #2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);
$gradient-radial: radial-gradient(#2e294eff, #c3acceff, #fbf9ffff, #a6d8d4ff, #586f6bff);